.colorful-section {
    background: linear-gradient(to bottom right, #ff6600, #ff3366);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.full-height {
    min-height: 100vh;
}
.small-rounded-btn {
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 10px;
    margin-top: 20px;
}
.gray-text {
    color: rgb(128, 128, 128);
}
.custom-input {
    width: 100%;
}
.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-padding {
    padding-right: 15%;
    padding-left: 15%;
}
.logo-padding {
    padding-bottom: 7%;
}
.title-colour {
    background: linear-gradient(to bottom right, #487EB0, #0097E6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}