.colorful-section {
    background: linear-gradient(to bottom right, #ff6600, #ff3366);
    height: 100vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.small-rounded-btn {
    border-radius: 20px; /* Adjust the border radius as needed */
    font-size: 14px; /* Adjust the font size as needed */
    padding: 10px 10px;
}
/* Custom CSS for gray text */
.gray-text {
    color: rgb(128, 128, 128); /* Set the text color to gray */
}
.custom-input {
    width: 100%;
}
.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    height: 100%; /* This ensures the container takes the full height of its parent */
}
.form-padding {
    padding-right: 15%;
    padding-left: 15%;
}
.logo-padding {
    padding-bottom: 7%;
}
.title-colour {
    background: linear-gradient(to bottom right, #487EB0, #0097E6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}